# Data Cleaning
###### This portion of the project will clean the data to ensure insights extracted are meaningful.

In [3]:
#import and read multiple CSV's into one DataFrame
import glob
import pandas as pd

path = "C:/Users/oefel/Desktop/UT-MCB-DATA-PT-11-2019-U-C/CPIA_indicator_datasets"
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))
    # Concatenate all read data into one DataFrame
    big_frame = pd.concat(dfs, ignore_index=True)
big_frame

,Unnamed: 0,country_name,year,indicator_code,indicator_name,value
0,0,Afghanistan,2006,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
1,1,Afghanistan,2007,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
2,2,Afghanistan,2008,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
3,3,Afghanistan,2009,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
4,4,Afghanistan,2010,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
...,...,...,...,...,...,...
34023,1616,Zimbabwe,2014,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",1.5
34024,1617,Zimbabwe,2015,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.0
34025,1618,Zimbabwe,2016,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.0
34026,1619,Zimbabwe,2017,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.0
34027,1620,Zimbabwe,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.5

In [4]:
# drop extra index
big_frame = big_frame.drop("Unnamed: 0", axis=1)
big_frame

,country_name,year,indicator_code,indicator_name,value
0,Afghanistan,2006,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
1,Afghanistan,2007,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
2,Afghanistan,2008,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
3,Afghanistan,2009,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
4,Afghanistan,2010,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.5
...,...,...,...,...,...
34023,Zimbabwe,2014,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",1.5
34024,Zimbabwe,2015,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.0
34025,Zimbabwe,2016,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.0
34026,Zimbabwe,2017,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.0
34027,Zimbabwe,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.5

###### What years are available for analysis?

In [5]:
years = big_frame["year"].unique()
years

array([2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2005], dtype=int64)

###### A complete copy of the 2018 Global Innovation Index is available, making analysis of the year 2018 a viable choice.

In [6]:
# apply a mask to the data to filter for only the year, 2018
year = 2018
mask = big_frame["year"].isin([year])
CPIA_2018 = big_frame[mask]
CPIA_2018

,country_name,year,indicator_code,indicator_name,value
12,Afghanistan,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.000000
37,Arab World,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.900000
66,Bangladesh,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,3.000000
80,Benin,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,3.500000
94,Bhutan,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,3.500000
...,...,...,...,...,...
33960,Vanuatu,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",3.000000
33985,World,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.842466
33999,"Yemen, Rep.",2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",1.500000
34013,Zambia,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.500000
34027,Zimbabwe,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.500000

In [7]:
# ensure the spread of indicators available is similar across countries
CPIA_2018.groupby("indicator_code").count()["value"]

indicator_code
IQ.CPA.BREG.XQ    111
IQ.CPA.DEBT.XQ    111
IQ.CPA.ECON.XQ    111
IQ.CPA.ENVR.XQ    111
IQ.CPA.FINQ.XQ    111
IQ.CPA.FINS.XQ    111
IQ.CPA.FISP.XQ    111
IQ.CPA.GNDR.XQ    111
IQ.CPA.HRES.XQ    111
IQ.CPA.IRAI.XQ    111
IQ.CPA.MACR.XQ    111
IQ.CPA.PADM.XQ    111
IQ.CPA.PRES.XQ    111
IQ.CPA.PROP.XQ    111
IQ.CPA.PROT.XQ    111
IQ.CPA.PUBS.XQ    111
IQ.CPA.REVN.XQ    111
IQ.CPA.SOCI.XQ    111
IQ.CPA.STRC.XQ    111
IQ.CPA.TRAD.XQ    111
IQ.CPA.TRAN.XQ    111
Name: value, dtype: int64

###### Research indicates the World Development Indicator database to report on 217 economies. However, many of these economies are grouped together by region, as seen here:

In [8]:
CPIA_2018_countries = CPIA_2018["country_name"].unique()
CPIA_2018_countries

array(['Afghanistan', 'Arab World', 'Bangladesh', 'Benin', 'Bhutan',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Caribbean small states', 'Central African Republic', 'Chad',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', "Cote d'Ivoire",
       'Djibouti', 'Dominica', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Eritrea',
       'Ethiopia', 'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)',
       'Fragile and conflict affected situations', 'Gambia, The', 'Ghana',
       'Grenada', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'Honduras',
       'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total', 'Kenya',
       'Kiribati', 'Kosovo', 'Kyrgyz Republic', 'Lao PDR',
       'Late-demographic dividend', 'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification', 'Lesotho',
       'Liberia', 'Low & middle income', 'Low income',
       'Lower middle income', 'Madagascar', 'Malawi', 'Maldives', 'Mali',
       'Marshall Islands', 'Mauritania', 'Micronesia, Fed. Sts.',
       'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Mongolia', 'Mozambique', 'Myanmar',
       'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'Other small states',
       'Pacific island small states', 'Pakistan', 'Papua New Guinea',
       'Pre-demographic dividend', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Senegal', 'Sierra Leone', 'Small states',
       'Solomon Islands', 'South Asia', 'South Asia (IDA & IBRD)',
       'South Sudan', 'St. Lucia', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sudan',
       'Tajikistan', 'Tanzania', 'Timor-Leste', 'Togo', 'Tonga', 'Tuvalu',
       'Uganda', 'Upper middle income', 'Uzbekistan', 'Vanuatu', 'World',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

###### This means that a complete dataset is in fact available for analysis.

### Further background research indicates countries aren't the only variables grouped in this dataset. Five (5) of the provided CPIA Indicators (of the 21 total), are actually agglomerations of several individual indicators. We will remove these indicators so as to avoid double counting them in our analysis, leaving 16 individual CPIA Indicators for analysis.

In [9]:
indicators_to_keep = [
    "IQ.CPA.BREG.XQ",
    "IQ.CPA.DEBT.XQ",
    "IQ.CPA.ENVR.XQ",
    "IQ.CPA.FINQ.XQ",
    "IQ.CPA.FINS.XQ",
    "IQ.CPA.FISP.XQ",
    "IQ.CPA.GNDR.XQ",
    "IQ.CPA.HRES.XQ",
    "IQ.CPA.MACR.XQ",
    "IQ.CPA.PADM.XQ",
    "IQ.CPA.PRES.XQ",
    "IQ.CPA.PROP.XQ",
    "IQ.CPA.PROT.XQ",
    "IQ.CPA.REVN.XQ",
    "IQ.CPA.TRAD.XQ",
    "IQ.CPA.TRAN.XQ",
]

In [10]:
# filtering for only the 16 indicators consisting of individual ratings
CPIA_2018_indicators = CPIA_2018[CPIA_2018["indicator_code"].isin(indicators_to_keep)]
CPIA_2018_indicators

,country_name,year,indicator_code,indicator_name,value
12,Afghanistan,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.000000
37,Arab World,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.900000
66,Bangladesh,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,3.000000
80,Benin,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,3.500000
94,Bhutan,2018,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,3.500000
...,...,...,...,...,...
33960,Vanuatu,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",3.000000
33985,World,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.842466
33999,"Yemen, Rep.",2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",1.500000
34013,Zambia,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.500000
34027,Zimbabwe,2018,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corrupt...",2.500000

### The 2018 Global Innnovation Index is now introduced:

In [11]:
# read in 2018 Global Innovation Index csv, scraped and re-formated with RegEx
file = pd.read_csv("Innovation Rank.csv")
rank = pd.DataFrame(file)
rank.drop(["Unnamed: 0"], axis=1)

                    Countries  Ranks
0                 Switzerland  68.30
1              United Kingdom  62.42
2                      Sweden  62.40
3                 Netherlands  61.58
4    United States of America  60.10
..                        ...    ...
135                     Yemen  20.80
136                   Myanmar  20.27
137                    Guinea  18.49
138                      Togo  18.43
139                     Sudan  14.95

[140 rows x 2 columns]

###### As countries listed for the Global Innovation Index may be part of a group of countries for the CPIA (and so not available by individual country name), it's necessary to check for the existance of those country values in the CPIA_2018_Indicators

In [54]:
GII_only = CPIA_2018_indicators.merge(
    rank,
    how="outer",
    left_on=CPIA_2018_indicators["country_name"],
    right_on=rank["Countries"],
    indicator=True,
).loc[lambda x: x["_merge"] == "right_only"]
GII_only

,key_0,country_name,year,indicator_code,indicator_name,value,Unnamed: 0,Countries,Ranks,_merge
1776,Switzerland,NaN,NaN,NaN,NaN,NaN,1.0,Switzerland,68.30,right_only
1777,United Kingdom,NaN,NaN,NaN,NaN,NaN,2.0,United Kingdom,62.42,right_only
1778,Sweden,NaN,NaN,NaN,NaN,NaN,3.0,Sweden,62.40,right_only
1779,Netherlands,NaN,NaN,NaN,NaN,NaN,4.0,Netherlands,61.58,right_only
1780,United States of America,NaN,NaN,NaN,NaN,NaN,5.0,United States of America,60.10,right_only
...,...,...,...,...,...,...,...,...,...,...
1876,Angola,NaN,NaN,NaN,NaN,NaN,119.0,Angola,26.20,right_only
1877,Swaziland,NaN,NaN,NaN,NaN,NaN,122.0,Swaziland,25.37,right_only
1878,Algeria,NaN,NaN,NaN,NaN,NaN,125.0,Algeria,24.38,right_only
1879,"Venezuela, Bolivarian Republic of",NaN,NaN,NaN,NaN,NaN,131.0,"Venezuela, Bolivarian Republic of",22.77,right_only
1880,Yemen,NaN,NaN,NaN,NaN,NaN,136.0,Yemen,20.80,right_only

In [55]:
# find those country values available in CPIA_2018_Indicators not available in rank of gii
CPIA_2018_indicators_only = CPIA_2018_indicators.merge(
    rank,
    how="outer",
    left_on=CPIA_2018_indicators["country_name"],
    right_on=rank["Countries"],
)
CPIA_2018_indicators_only

,key_0,country_name,year,indicator_code,indicator_name,value,Unnamed: 0,Countries,Ranks
0,Afghanistan,Afghanistan,2018.0,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,2.0,NaN,NaN,NaN
1,Afghanistan,Afghanistan,2018.0,IQ.CPA.DEBT.XQ,CPIA debt policy rating (1=low to 6=high),2.5,NaN,NaN,NaN
2,Afghanistan,Afghanistan,2018.0,IQ.CPA.ENVR.XQ,CPIA policy and institutions for environmental...,2.5,NaN,NaN,NaN
3,Afghanistan,Afghanistan,2018.0,IQ.CPA.FINQ.XQ,CPIA quality of budgetary and financial manage...,3.5,NaN,NaN,NaN
4,Afghanistan,Afghanistan,2018.0,IQ.CPA.FINS.XQ,CPIA financial sector rating (1=low to 6=high),2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1876,Angola,NaN,NaN,NaN,NaN,NaN,119.0,Angola,26.20
1877,Swaziland,NaN,NaN,NaN,NaN,NaN,122.0,Swaziland,25.37
1878,Algeria,NaN,NaN,NaN,NaN,NaN,125.0,Algeria,24.38
1879,"Venezuela, Bolivarian Republic of",NaN,NaN,NaN,NaN,NaN,131.0,"Venezuela, Bolivarian Republic of",22.77
1880,Yemen,NaN,NaN,NaN,NaN,NaN,136.0,Yemen,20.80

In [13]:
# convert the country values found in the GII_only to a list
countries_to_check = GII_only["Countries"].to_list()
countries_to_check

['Switzerland',
 'United Kingdom',
 'Sweden',
 'Netherlands',
 'United States of America',
 'Finland',
 'Singapore',
 'Ireland',
 'Luxembourg',
 'Denmark',
 'Hong Kong (China)',
 'Germany',
 'Iceland',
 'New Zealand',
 'Canada',
 'Australia',
 'Austria',
 'Japan',
 'Norway',
 'France',
 'Israel',
 'Estonia',
 'Czech Republic',
 'Belgium',
 'Malta',
 'Spain',
 'Slovenia',
 'China',
 'Portugal',
 'Italy',
 'Malaysia',
 'Latvia',
 'Cyprus',
 'Hungary',
 'Slovakia',
 'Barbados',
 'Lithuania',
 'Bulgaria',
 'Croatia',
 'Montenegro',
 'Chile',
 'Saudi Arabia',
 'Moldova, Republic of',
 'Greece',
 'Poland',
 'United Arab Emirates',
 'Russian Federation',
 'Mauritius',
 'Qatar',
 'Costa Rica',
 'Viet Nam',
 'Belarus',
 'Romania',
 'Thailand',
 'TFYR of Macedonia',
 'Mexico',
 'Turkey',
 'Bahrain',
 'South Africa',
 'Armenia',
 'Panama',
 'Serbia',
 'Ukraine',
 'Seychelles',
 'Colombia',
 'Uruguay',
 'Oman',
 'Brazil',
 'Peru',
 'Argentina',
 'Georgia',
 'Lebanon',
 'Jordan',
 'Tunisia',
 'Kuwait',
 'Morocco',
 'Bosnia and Herzegovina',
 'Trinidad and Tobago',
 'India',
 'Kazakhstan',
 'Philippines',
 'Sri Lanka',
 'Albania',
 'Paraguay',
 'Dominican Republic',
 'Botswana',
 'Azerbaijan',
 'Jamaica',
 'Indonesia',
 'El Salvador',
 'Egypt',
 'Guatemala',
 'Bolivia, Plurinational State of',
 'Iran, Islamic Republic of ',
 'Namibia',
 'Kyrgyzstan',
 'Gambia',
 'Fiji',
 'Tanzania, United Republic of',
 'Ecuador',
 'Angola',
 'Swaziland',
 'Algeria',
 'Venezuela, Bolivarian Republic of',
 'Yemen']

#### Research displaying to which CPIA region each country belongs

In [14]:
# Countries contained within the CPIA Arab World Region
arab_world = [
    "Algeria",
    "Bahrain",
    "Comoros",
    "Djibouti",
    "Egypt",
    "Arab Rep.",
    "Iraq" "Jordan",
    "Kuwait",
    "Lebanon",
    "Libya",
    "Mauritania",
    "Morocco",
    "Oman",
    "Qatar",
    "Saudi Arabia",
    "Somalia",
    "Sudan",
    "Syrian",
    "Arab Republic",
    "Tunisia",
    "United Arab Emirates",
    "West Bank and Gaza",
    "Yemen",
]

In [15]:
# Checking the GII for countries contained within the Arab World
arab_innovation = []
for item in arab_world:
    if item in countries_to_check:
        arab_innovation.append(item)
arab_innovation

['Algeria',
 'Bahrain',
 'Egypt',
 'Kuwait',
 'Lebanon',
 'Morocco',
 'Oman',
 'Qatar',
 'Saudi Arabia',
 'Tunisia',
 'United Arab Emirates',
 'Yemen']

In [16]:
# Pulling the GII scores for those countries contained within the Arab World
arab_innovation_rank = rank.loc[rank["Countries"].isin(arab_innovation)][1:]
arab_innovation_rank.drop('Unnamed: 0', axis=1)

                Countries  Ranks
45   United Arab Emirates  40.06
48                  Qatar  39.01
57                Bahrain  37.67
67                   Oman  35.00
72                Lebanon  33.82
74                Tunisia  33.48
75                 Kuwait  33.20
76                Morocco  33.19
98                  Egypt  28.91
124               Algeria  24.38
135                 Yemen  20.80

In [17]:
# Calculating the Average GII Score for the Arab World Region
arab_innovation_avg = (arab_innovation_rank["Ranks"].sum()) / (
    arab_innovation_rank["Ranks"].count()
)
arab_innovation_avg

32.68363636363637

In [18]:
# Countries contained within the CPIA Caribbean Small States Region
caribbean_small_states = [
    "Antigua and Barbuda",
    "The Bahamas",
    "Barbados",
    "Belize",
    "Dominica",
    "Grenada",
    "Guyana",
    "Jamaica",
    "St. Kitts and Nevis",
    "St. Lucia",
    "St. Vincent and the Grenadines",
    "Suriname",
    "Trinidad and Tobago",
]

In [19]:
# Checking the GII for countries contained within the Caribbean Small States
caribbean_innovation = []
for item in caribbean_small_states:
    if item in countries_to_check:
        caribbean_innovation.append(item)
caribbean_innovation

['Barbados', 'Jamaica', 'Trinidad and Tobago']

In [20]:
# Pulling the GII scores for those countries contained within the Caribbean Small States
caribbean_innovation_rank = rank.loc[rank["Countries"].isin(caribbean_innovation)][1:]
caribbean_innovation_rank.drop('Unnamed: 0', axis=1)

              Countries  Ranks
78  Trinidad and Tobago  32.18
94              Jamaica  29.95

In [21]:
# Calculating the Average GII Score for the Caribbean Small States Region
caribbean_innovation_avg = (caribbean_innovation_rank["Ranks"].sum()) / (
    caribbean_innovation_rank["Ranks"].count()
)
caribbean_innovation_avg

31.064999999999998

In [22]:
# Countries contained within the CPIA East Asia and Pacific Region
east_asia_and_pacific = [
    "American Samoa",
    "Australia",
    "Brunei Darussalam",
    "Cambodia",
    "China",
    "Fiji",
    "French Polynesia",
    "Guam",
    "Hong Kong (China)",
    "China",
    "Indonesia",
    "Japan",
    "Kiribati",
    "Korea, Dem. Peopleâ€™s Rep.",
    "Korea, Rep.",
    "Lao PDR",
    "Macao SAR, China",
    "Malaysia",
    "Marshall Islands",
    "Micronesia, Fed. Sts.",
    "Mongolia",
    "Myanmar",
    "Nauru",
    "New Caledonia",
    "New Zealand",
    "Northern Mariana Islands",
    "Palau",
    "Papua New Guinea",
    "Philippines",
    "Samoa",
    "Singapore",
    "Solomon Islands",
    "Thailand",
    "Timor-Leste",
    "Tonga",
    "Tuvalu",
    "Vanuatu",
    "Viet Nam",
]

In [23]:
# Checking the GII for countries contained within East Asia and Pacific Region
east_asia_and_pacific_innovation = []
for item in east_asia_and_pacific:
    if item in countries_to_check:
        east_asia_and_pacific_innovation.append(item)
east_asia_and_pacific_innovation

['Australia',
 'China',
 'Fiji',
 'Hong Kong (China)',
 'China',
 'Indonesia',
 'Japan',
 'Malaysia',
 'New Zealand',
 'Philippines',
 'Singapore',
 'Thailand',
 'Viet Nam']

In [24]:
# Pulling the GII scores for those countries contained within the East Asia and Pacific Region
east_asia_and_pacific_innovation_rank = rank.loc[
    rank["Countries"].isin(east_asia_and_pacific_innovation)
][1:]
east_asia_and_pacific_innovation_rank.drop('Unnamed: 0', axis=1)

             Countries  Ranks
10   Hong Kong (China)  57.23
13         New Zealand  55.92
15           Australia  55.22
17               Japan  53.97
27               China  47.47
30            Malaysia  45.98
50            Viet Nam  38.35
53            Thailand  38.10
81         Philippines  31.05
95           Indonesia  29.79
113               Fiji  27.31

In [25]:
# Calculating the Average GII Score for the East Asia and Pacific Region
east_asia_and_pacific_avg = (east_asia_and_pacific_innovation_rank["Ranks"].sum()) / (
    east_asia_and_pacific_innovation_rank["Ranks"].count()
)
east_asia_and_pacific_avg

43.67181818181819

In [26]:
# Countries contained within the CPIA Europe and Central Asia Region
europe_and_central_asia = [
    "Albania",
    "Andorra",
    "Armenia",
    "Austria",
    "Azerbaijan",
    "Belarus",
    "Belgium",
    "Bosnia and Herzegovina",
    "Bulgaria",
    "Channel Islands",
    "Croatia",
    "Cyprus",
    "Czech Republic",
    "Denmark",
    "Estonia",
    "Faroe Islands",
    "Finland",
    "France",
    "Georgia",
    "Germany",
    "Gibraltar",
    "Greece",
    "Greenland",
    "Hungary",
    "Iceland",
    "Ireland",
    "Isle of Man",
    "Italy",
    "Kazakhstan",
    "Kosovo",
    "Kyrgyzstan",
    "Latvia",
    "Liechtenstein",
    "Lithuania",
    "Luxembourg",
    "Moldova, Republic of",
    "Monaco",
    "Montenegro",
    "Netherlands",
    "TFYR of Macedonia",
    "Norway",
    "Poland",
    "Portugal",
    "Romania",
    "Russian Federation",
    "San Marino",
    "Serbia",
    "Slovakia",
    "Slovenia",
    "Spain",
    "Sweden",
    "Switzerland",
    "Tajikistan",
    "Turkey",
    "Turkmenistan",
    "Ukraine",
    "United Kingdom",
    "Uzbekistan",
]

In [27]:
# Checking the GII for countries contained within the Europe and Central Asia Region
europe_and_central_asia_innovation = []
for item in europe_and_central_asia:
    if item in countries_to_check:
        europe_and_central_asia_innovation.append(item)
europe_and_central_asia_innovation

['Albania',
 'Armenia',
 'Austria',
 'Azerbaijan',
 'Belarus',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Kazakhstan',
 'Kyrgyzstan',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Moldova, Republic of',
 'Montenegro',
 'Netherlands',
 'TFYR of Macedonia',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russian Federation',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'United Kingdom']

In [28]:
# Pulling the GII scores for those countries contained within the Europe and Central Asia Region
europe_and_central_asia_innovation_rank = rank.loc[
    rank["Countries"].isin(europe_and_central_asia_innovation)
][1:]
europe_and_central_asia_innovation_rank.drop('Unnamed: 0', axis=1)

                  Countries  Ranks
1            United Kingdom  62.42
2                    Sweden  62.40
3               Netherlands  61.58
5                   Finland  59.97
7                   Ireland  59.13
8                Luxembourg  59.02
9                   Denmark  57.70
11                  Germany  57.05
12                  Iceland  57.02
16                  Austria  54.07
18                   Norway  53.80
19                   France  53.59
21                  Estonia  52.81
22           Czech Republic  51.32
23                  Belgium  50.91
25                    Spain  49.07
26                 Slovenia  48.49
28                 Portugal  46.61
29                    Italy  46.40
31                   Latvia  45.51
32                   Cyprus  43.51
33                  Hungary  43.00
34                 Slovakia  42.99
36                Lithuania  42.26
37                 Bulgaria  42.16
38                  Croatia  41.70
39               Montenegro  41.23
42     Moldova, Republic of  40.53
43                   Greece  40.28
44                   Poland  40.16
46       Russian Federation  39.32
51                  Belarus  38.23
52                  Romania  38.20
54        TFYR of Macedonia  38.03
56                   Turkey  37.81
59                  Armenia  37.31
61                   Serbia  36.47
62                  Ukraine  36.45
71                  Georgia  33.83
77   Bosnia and Herzegovina  32.31
80               Kazakhstan  31.25
85                  Albania  30.74
91               Azerbaijan  30.10
107              Kyrgyzstan  27.96

In [29]:
# Calculating the Average GII Score for the Europe and Central Asia Region
europe_and_central_asia_avg = (
    europe_and_central_asia_innovation_rank["Ranks"].sum()
) / (europe_and_central_asia_innovation_rank["Ranks"].count())
europe_and_central_asia_avg

45.33409090909091

In [30]:
# Countries contained within the CPIA Latin America and Caribbean Region
latin_america_and_caribbean = [
    "Antigua and Barbuda",
    "Argentina",
    "Aruba",
    "Bahamas, The",
    "Barbados",
    "Belize",
    "Bolivia, Plurinational State of",
    "Brazil",
    "British Virgin Islands",
    "Cayman Islands",
    "Chile",
    "Colombia",
    "Costa Rica",
    "Cuba",
    "Curacao",
    "Dominica",
    "Dominican Republic",
    "Ecuador",
    "El Salvador",
    "Grenada",
    "Guatemala",
    "Guyana",
    "Haiti",
    "Honduras",
    "Jamaica",
    "Mexico",
    "Nicaragua",
    "Panama",
    "Paraguay",
    "Peru",
    "Puerto Rico",
    "Sint Maarten (Dutch part)",
    "St. Kitts and Nevis",
    "St. Lucia",
    "St. Martin (French part)",
    "St. Vincent and the Grenadines",
    "Suriname",
    "Trinidad and Tobago",
    "Turks and Caicos Islands",
    "Uruguay",
    "Venezuela, Bolivarian Republic of",
    "Virgin Islands (U.S.)",
]

In [31]:
# Checking the GII for countries contained within the Latin America and Caribbean Region
latin_america_and_caribbean_innovation = []
for item in latin_america_and_caribbean:
    if item in countries_to_check:
        latin_america_and_caribbean_innovation.append(item)
latin_america_and_caribbean_innovation

['Argentina',
 'Barbados',
 'Bolivia, Plurinational State of',
 'Brazil',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Jamaica',
 'Mexico',
 'Panama',
 'Paraguay',
 'Peru',
 'Trinidad and Tobago',
 'Uruguay',
 'Venezuela, Bolivarian Republic of']

In [32]:
# Pulling the GII scores for those countries contained within the Latin America and Caribbean Region
latin_america_and_caribbean_innovation_rank = rank.loc[
    rank["Countries"].isin(latin_america_and_caribbean_innovation)
][1:]
latin_america_and_caribbean_innovation_rank.drop('Unnamed: 0', axis=1)

                             Countries  Ranks
40                               Chile  41.20
49                          Costa Rica  38.59
55                              Mexico  38.03
60                              Panama  36.80
65                            Colombia  36.41
66                             Uruguay  35.76
68                              Brazil  34.95
69                                Peru  34.87
70                           Argentina  34.30
78                 Trinidad and Tobago  32.18
86                            Paraguay  30.69
87                  Dominican Republic  30.60
94                             Jamaica  29.95
97                         El Salvador  29.31
99                           Guatemala  28.84
102    Bolivia, Plurinational State of  28.58
117                            Ecuador  26.87
130  Venezuela, Bolivarian Republic of  22.77

In [33]:
# Calculating the Average GII Score for the Latin America and Caribbean Region
latin_america_and_caribbean_avg = (
    latin_america_and_caribbean_innovation_rank["Ranks"].sum()
) / (latin_america_and_caribbean_innovation_rank["Ranks"].count())
latin_america_and_caribbean_avg

32.81666666666666

In [34]:
# Countries contained within the CPIA Middle East North Africa Region
middle_east_north_africa = [
    "Algeria",
    "Bahrain",
    "Djibouti",
    "Egypt, Arab Rep.",
    "Iran, Islamic Rep.",
    "Iraq",
    "Israel",
    "Jordan",
    "Kuwait",
    "Lebanon",
    "Libya",
    "Malta",
    "Morocco",
    "Oman",
    "Qatar",
    "Saudi Arabia",
    "Syrian Arab Republic",
    "Tunisia",
    "United Arab Emirates",
    "West Bank and Gaza",
    "Yemen",
]

In [35]:
# Checking the GII for countries contained within the Middle East North Africa Region
middle_east_north_africa_innovation = []
for item in middle_east_north_africa:
    if item in countries_to_check:
        middle_east_north_africa_innovation.append(item)
middle_east_north_africa_innovation

['Algeria',
 'Bahrain',
 'Israel',
 'Jordan',
 'Kuwait',
 'Lebanon',
 'Malta',
 'Morocco',
 'Oman',
 'Qatar',
 'Saudi Arabia',
 'Tunisia',
 'United Arab Emirates',
 'Yemen']

In [36]:
# Pulling the GII scores for those countries contained within the Middle East North Africa Region
middle_east_north_africa_innovation_rank = rank.loc[
    rank["Countries"].isin(middle_east_north_africa_innovation)
][1:]
middle_east_north_africa_innovation_rank.drop('Unnamed: 0', axis=1)

                Countries  Ranks
24                  Malta  50.48
41           Saudi Arabia  40.65
45   United Arab Emirates  40.06
48                  Qatar  39.01
57                Bahrain  37.67
67                   Oman  35.00
72                Lebanon  33.82
73                 Jordan  33.78
74                Tunisia  33.48
75                 Kuwait  33.20
76                Morocco  33.19
124               Algeria  24.38
135                 Yemen  20.80

In [37]:
# Calculating the Average GII Score for the Middle East North Africa Region
middle_east_north_africa_avg = (
    middle_east_north_africa_innovation_rank["Ranks"].sum()
) / (middle_east_north_africa_innovation_rank["Ranks"].count())
middle_east_north_africa_avg

35.04

In [38]:
# Countries contained within the CPIA Pacific Island Small States Region
pacific_island_small_states = [
    "Fiji",
    "Kiribati",
    "Marshall Islands",
    "Micronesia, Fed. Sts.",
    "Nauru",
    "Palau",
    "Samoa",
    "Solomon Islands",
    "Tonga",
    "Tuvalu",
    "Vanuatu",
]

In [39]:
# Checking the GII for countries contained within the Pacific Island Small States Region
pacific_island_small_states_innovation = []
for item in pacific_island_small_states:
    if item in countries_to_check:
        pacific_island_small_states_innovation.append(item)
pacific_island_small_states_innovation

['Fiji']

###### Because the only country represented among the Global Innovation Index for the Pacific Small Islands is Fiji,it's rank will be used as the value

In [40]:
# Countries contained within the CPIA Sub Saharan Africa Region
sub_saharan_africa = [
    "Angola",
    "Benin",
    "Botswana",
    "Burkina Faso",
    "Burundi",
    "Cabo Verde",
    "Cameroon",
    "Central African Republic",
    "Chad",
    "Comoros",
    "Congo, Dem. Rep.",
    "Congo, Rep.",
    "Cote d'Ivoire",
    "Equatorial Guinea",
    "Eritrea",
    "Eswatini",
    "Ethiopia",
    "Gabon",
    "Gambia",
    "Ghana",
    "Guinea",
    "Guinea-Bissau",
    "Kenya",
    "Lesotho",
    "Liberia",
    "Madagascar",
    "Malawi",
    "Mali",
    "Mauritania",
    "Mauritius",
    "Mozambique",
    "Namibia",
    "Niger",
    "Nigeria",
    "Rwanda",
    "Sao Tome and Principe",
    "Senegal",
    "Seychelles",
    "Sierra Leone",
    "Somalia",
    "South Africa",
    "South Sudan",
    "Sudan",
    "Tanzania, United Republic of",
    "Togo",
    "Uganda",
    "Zambia",
    "Zimbabwe",
]

In [41]:
# Checking the GII for countries contained within the Sub Saharan Africa Region
sub_saharan_africa_innovation = []
for item in sub_saharan_africa:
    if item in countries_to_check:
        sub_saharan_africa_innovation.append(item)
sub_saharan_africa_innovation

['Angola',
 'Botswana',
 'Gambia',
 'Mauritius',
 'Namibia',
 'Seychelles',
 'South Africa',
 'Tanzania, United Republic of']

In [42]:
# Pulling the GII scores for those countries contained within the Sub Saharan Africa Region
sub_saharan_african_innovation_rank = rank.loc[
    rank["Countries"].isin(sub_saharan_africa_innovation)
][1:]
sub_saharan_african_innovation_rank.drop('Unnamed: 0', axis=1)

                        Countries  Ranks
58                   South Africa  37.45
63                     Seychelles  36.44
88                       Botswana  30.49
105                       Namibia  28.15
110                        Gambia  27.49
115  Tanzania, United Republic of  27.00
118                        Angola  26.20

In [43]:
# Calculating the Average GII Score for the Sub Saharan Africa Region
sub_saharan_avg = (sub_saharan_african_innovation_rank["Ranks"].sum()) / (
    sub_saharan_african_innovation_rank["Ranks"].count()
)
sub_saharan_avg

30.46

##### Having accounted for GII countries previously excluded from the analysis by virtue of being contained within grouped CPIA values, all countries existing as part of a CPIA region can now be read into one list

In [44]:
# reading a list of region lists into one all-encompassing list
all_countries = [
    arab_innovation
    + caribbean_innovation
    + east_asia_and_pacific_innovation
    + europe_and_central_asia_innovation
    + latin_america_and_caribbean_innovation
    + middle_east_north_africa_innovation
    + pacific_island_small_states_innovation
    + sub_saharan_africa_innovation
]
all_innovation = []
for x in all_countries:
    all_innovation.extend(x)
# filtering for only unique values and returning a list
all_innovation_series = pd.Series(all_innovation).unique()
all_innovation_list = list(all_innovation_series)

What countries present in the Global Innovation Index are missing corresponding CPIA Indicator Values? To answer this, check what countries are present in the GII, but not present within all_innovation_list.

In [45]:
# Convert countries_to_check to a DataFrame
countries_to_check_df = pd.DataFrame(countries_to_check)
countries_to_check_df.columns = [["Countries"]]
countries_to_check_df.columns = countries_to_check_df.columns.get_level_values(0)

In [46]:
unaccounted_for = countries_to_check_df[
    ~countries_to_check_df["Countries"].isin(all_innovation_list)
]
unaccounted_for

                      Countries
4      United States of America
14                       Canada
78                        India
81                    Sri Lanka
93   Iran, Islamic Republic of
101                   Swaziland

#### CPIA Indicators for the year of 2018 are unfortunately not available for the above, unaccounted_for countries. However, the following regions, previoulsy excluded from the analysis, can be re-incorporated.

In [47]:
indicators_to_include = [
    "Arab World",
    "Caribbean small states",
    "East Asia & Pacific",
    "Europe & Central Asia",
    "Latin America & Caribbean",
    "Middle East & North Africa",
    "Pacific island small states",
    "Sub-Saharan Africa",
]
ranks_to_include = [
    32.68363636363637,
    31.064999999999998,
    43.67181818181819,
    45.33409090909091,
    32.81666666666666,
    35.04,
    27.31,
    30.46,
]

In [48]:
# read the above lists into a DataFrame to be appended to the gii rank df
additional_regions = pd.DataFrame(
    {"Countries": indicators_to_include, "Ranks": ranks_to_include}
)
additional_regions

                     Countries      Ranks
0                   Arab World  32.683636
1       Caribbean small states  31.065000
2          East Asia & Pacific  43.671818
3        Europe & Central Asia  45.334091
4    Latin America & Caribbean  32.816667
5   Middle East & North Africa  35.040000
6  Pacific island small states  27.310000
7           Sub-Saharan Africa  30.460000

### The final Global Innovation Index DataFrame consists of only the countries existing both within the the Global Innovation Index and the CPIA Indicator Database.

In [59]:
# the additional_regions DataFrame can now be appended to the GII
GII_Shared_Innovation = rank.append(additional_regions, ignore_index=True)
GII_Shared_Innovation.drop('Unnamed: 0', axis=1, inplace=True)

### The final CPIA DataFrame consists of only the countries existing both within the CPIA Indicator Database and within the Global Innovation Index.

In [66]:
# now only the CPIA_indicator values with countries that made the GII will be analyzed
shared_innovation = CPIA_2018_indicators.loc[
    CPIA_2018_indicators["country_name"].isin(all_gii_regions_countries["Countries"])
]
shared_innovation.reset_index(inplace=True)
CPIA_Shared_Innovation = shared_innovation.drop('index', axis=1)

### Write both the shared innovation dataframes to CSV files to be imported to the EDA portion of the project.

In [67]:
CPIA_Shared_Innovation.to_csv('CPIA Shared Innovation.csv')

In [62]:
GII_Shared_Innovation.to_csv('GII Shared Innovation.csv')